
form {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #f7dede; 
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #ff99cc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff66b3; 
}


.output {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #ffe6f2; 
    border-radius: 5px;
}

.output p {
    margin: 5px 0;
}
